<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>LaPulpe</title>
        <meta charset="UTF-8"/>        
    </head>
    <body>        
        <header th:replace="~{layout/plantilla :: header}"/>
        
        <section>
            <h1 class='text-center mt-5 text-primary'>[[#{payment.ok}]]</h1>
            <p class='text-center mt-3'>[[#{payment.ok.text}]]</p>
            <div class='d-flex justify-content-center mt-5'>
                <a th:href='@{/}' class='btn btn-primary'>
                    <i class="fas fa-home"></i> [[#{accion.regresar}]]
                </a>
            </div>
        </section>        

        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>

Cuenta del cliente: techshop.personal@personal.example.com
Clave: Pruebas.1234..

Cuenta empresa: techshop@business.example.com
Clave: La.Prueba.1234..